# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log

# Datasets / local data (do not upload big files)
week01/day01_text_analysis/data/